
.nav-logo{
    width: 64px;
    margin-right:0.5rem;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth{
    display: flex !important;
    align-items: center;
    gap: 5;
    margin-left: 1em;
    
}